name: TruffleHog Scan

on:
  push:
    branches:
      - main # Adjust the branch name as needed

jobs:
  scanning:
    name: TruffleHog Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Fetch all history so multiple commits can be scanned

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install TruffleHog
        run: pip install truffleHog

      - name: Run TruffleHog Scan with Custom Rules
        run: trufflehog --config $GITHUB_WORKSPACE/trufflehog_config.json .
