name: TruffleHog Enterprise scan

on: push

jobs:
  scanning:
    name: TruffleHog Enterprise scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # fetch all history so multiple commits can be scanned
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install TruffleHog
        run: pip install truffleHog

      - name: Run TruffleHog Scan
        run: trufflehog --regex --entropy=False --rules $GITHUB_WORKSPACE/custom_rules.json .
